@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*{
    font-family: 'Gugi', cursive;
}


.heading{
   font-weight: 600;
}

.check{
    display: none;
}
#confirm{
    display: none;
}
.button-div{
    margin: 10px auto;
}
